#bigDiv {
    border: 2px solid gray;
    background-color: lightgrey;
    border-radius: 25px;
    text-align: center;
    width: 250px;
    margin: auto;
    height: 680px;
    overflow-y: scroll;
}

div {
    border: 2px dotted gray;
    background-color: lightgrey;
    border-radius: 25px;
    text-align: center;
    text-orientation: center;
    width: 125px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    height: 150px;

}